@import url("fonts.css");

:root {
  color-scheme: dark light;
  --font-pixel-grid: 'GeistPixel-Grid', monospace;
  --accent-color: #004bff;
  --background-color: #000;
  --color-text: #fff;
  --grid-image: url("data:image/svg+xml;utf8,<svg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='4.18933' y1='0' x2='4.18933' y2='8.124' stroke='%23D9D9D9'/><line y1='3.93469' x2='8.1989' y2='3.93469' stroke='%23D9D9D9'/></svg>");
  --fluid-blend: screen;
  --space-xs: clamp(4px, 5vw, 8px);
  --space-sm: 16px;
  --space-md: clamp(16px, 2vw, 32px);
  --icon-code: clamp(40px, 5vw, 64px);
  --icon-social: clamp(36px, 5vw, 48px);
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --background-color: #fff;
    --color-text: var(--accent-color);
    --grid-image: url("data:image/svg+xml;utf8,<svg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='4.18933' y1='0' x2='4.18933' y2='8.124' stroke='%23B0B0B0'/><line y1='3.93469' x2='8.1989' y2='3.93469' stroke='%23B0B0B0'/></svg>");
    --fluid-blend: multiply;
  }
}

:root[data-theme="light"] {
  --background-color: #fff;
  --color-text: var(--accent-color);
  --grid-image: url("data:image/svg+xml;utf8,<svg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='4.18933' y1='0' x2='4.18933' y2='8.124' stroke='%23B0B0B0'/><line y1='3.93469' x2='8.1989' y2='3.93469' stroke='%23B0B0B0'/></svg>");
  --fluid-blend: multiply;
}

:root[data-theme="dark"] {
  --background-color: #000;
  --color-text: #fff;
  --grid-image: url("data:image/svg+xml;utf8,<svg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='4.18933' y1='0' x2='4.18933' y2='8.124' stroke='%23D9D9D9'/><line y1='3.93469' x2='8.1989' y2='3.93469' stroke='%23D9D9D9'/></svg>");
  --fluid-blend: screen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--color-text);
  font-family: var(--font-pixel-grid);
  font-weight: 400;
  font-synthesis: none;
  background-color: var(--background-color);
  background-image: var(--grid-image);
  background-size: 12px 12px;
  background-position: 2% 0.5%;
}

*::selection {
  color: var(--background-color);
  background-color: var(--accent-color);
}

#fluid {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* mix-blend-mode: var(--fluid-blend); */
}

.main {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100svh;
  z-index: 1;
  pointer-events: none;
}

.hero {
  position: absolute;
  bottom: var(--space-md);
  left: var(--space-md);
}

.hero__title {
  pointer-events: auto;
  font-size: clamp(3rem, 11vw, 16rem);
  font-weight: 400;
  line-height: 1;
}

.footer {
  pointer-events: auto;
  position: absolute;
  top: var(--space-md);
  padding-inline: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 36px;
}

.footer .code,
.footer .social {
  display: flex;
  flex-direction: column;
}

.footer .code {
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-bottom: var(--space-xs);

  &:hover {
    background-color: var(--background-color);
    color: var(--color-text);

    a {
      color: var(--color-text);
    }
  }
}

.footer .social {
  gap: var(--space-sm);
}

.footer .code p {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.footer .social p {
  font-size: clamp(1.6rem, 4vw, 2.4rem);
  padding-right: var(--space-xs);
}

.socials-list {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.footer a {
  display: block;
  padding: var(--space-xs);
  color: var(--color-text);
  text-decoration: none;
  pointer-events: auto;
}

.footer .code a {
  width: var(--icon-code);
  height: var(--icon-code);

}

.socials-list a {
  width: var(--icon-social);
  height: var(--icon-social);

  &:hover {
    background-color: var(--background-color);
    color: var(--color-text);

    svg {
      color: var(--color-text);
    }
  }
}

.footer a svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .hero__title {
    font-size: clamp(3.8rem, 8vw, 12rem);
  }

  .footer {
    width: 100%;
    gap: 0px;
    align-items: end;
    justify-content: space-between;
  }

  .footer .social {
    gap: 24px;
  }

  .footer .social p {
    max-width: 150px;
  }


  html,
  body,
  .main {
    max-height: 100svh;
  }

  body {
    min-height: 100svh;
  }

  canvas {
    max-height: 100svh;
    height: 100svh;
  }
}